section > img {
  max-width: 150px;
  max-height: 100px;
  padding: 7px;
  border: 2px solid rgb(123, 123, 175);
  border-radius: 10px;
}

section > p {
  padding: 3px 5px;
  border: 1px solid rgb(91, 91, 116);
  background-color: rgba(91, 91, 116, 0.774);
  color: aliceblue;
  height: 50px;
  overflow: scroll;
}

section > h2 {
  margin-bottom: 5px;
  font-size: 16px;
}

select {
  margin: 5px 0;
  height: 25px;
  border: 2px solid rgb(123, 123, 175);
}